- var currentFolder = locals.currentPath.split("/"), folderPath = ""
div
  each folder, i in currentFolder
    - folderPath += (i?"/":"") + folder
    if i
      !="&nbsp;/&nbsp;"
    span.entry(data-path=folderPath)=folder
.entry(data-path=locals.currentPath + "/../")
  strong Parent Directory
table
  tbody
    each file in locals.files
      tr.entry(data-path=locals.currentPath + "/" + file.name)
        td(data-type=file.isFile?"file":"directory")
        td.d-name=file.name
        td(data-size=file.size)